* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #faebcd;
    padding-top: 80px;
}

.navbar {
    background-color: #434343;
    padding-top: 0;
}    

#title {
    color: #faebcd;
}

#login-button {
    background-color: #f7c873;
    color: #f8f8f8;
}

.info {
    border: 4px solid #f8f8f8;
    border-radius: 60%;
    background-color: #434343;
    color: #f7c873;
    margin: 40px auto;
    padding: 20px;
    width: 50%;
}

.info:hover {
    background-color: #f7c873;
    border: 2px solid #f8f8f8;
    color: #434343;
    text-decoration: underline;
    text-decoration-color: #faebcd;
    text-underline-position: under;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} 

#wrapper {
    padding: 20px;
}

.carousel-inner img {
    margin: auto;
    width: 70vh;
    height: 70vh;
}

.carousel-inner img:hover {
    filter:grayscale(1);
    transform: scale(1.3);
}

.carousel-caption {
    background-color: #f7c873;
    width: 20%;
    height: 20%;
    margin: auto;
    opacity: 70%;
    border: 5px solid #434343;
    line-height: 50px;
}

.carousel-caption h3,p,h5 {
    color: #434343;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 18px;
    font-style: italic;
}

.card-list:hover {
    border: 4px solid #434343;
    transform: scale(1);
}

.btn-primary {
    background-color: #f7c873;
    color: #f8f8f8;
}

.btn-primary:hover {
    background-color: #434343;
    color: #f8f8f8;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #f8f8f8;
    background-color: #f7c873;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .navbar-toggler {
        background-color: #f7c873;
    }
    .navbar-toggler-icon {
        background-color: #434343;
    }
    #info {
        display: inline;
        width: 100%;
        padding-bottom: 40px;
    }
    .carousel-inner img {
        width: 40vh;
        height: 40vh;
    }
    .carousel-caption {
        width: 50%;
        height: 50%;
        font-size: 14px;
    }
  }

@media only screen and (min-width: 601px) {
    .carousel-caption {
        width: 50%;
        height: 30%;
        font-size: 20px;
    }
    .navbar-toggler {
        background-color: #f7c873;
    }
    .navbar-toggler-icon {
        background-color: #434343;
    }
}